@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
    h1 {
        font-size:300% ;
    }

    body{
        background-color:aliceblue
    }
</style>

<div class="text-center">
    <h1 class="display-4">WELCOME</h1>
    <h2 style="font-size:500%;">WANT TO REGISTER A COMPLAINT?</h2>
    <a style="font-size:300%;color:gold;" href="http://localhost:47668/Registration"> Register a Complaint </a>
</div>
