@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<style>
    p {
        background-color:lightgoldenrodyellow;
        font-size:50px
    }

    body {
        background-color: aliceblue;
    }
</style>

<p> Need Some Help </p>

<p>
    If your complaint was successfully given , but the work has not started yet from 2 days , then you can raise a complaint 
    that the work is not done yet.Please follow the following link to do so
</p>

<a style ="font-size:40px" href="http://localhost:47668/Complaints">Complaint</a>